* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Arial, Helvetica, sans-serif";
    background-color: rgb(44, 44, 44);
}
a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.container h1,h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 15px;
}
.buttons{
    max-width: 240px;
    margin: 5px auto;
}
.calculator{
    text-align: center;
    margin: 2% auto;
}
.calculator-screen{
    max-width: 240px;
    background-color: rgb(17, 17, 17);
    margin: 0 auto;
    padding: 1px 10px;
    font-family: 'Courier New', Courier, monospace;
}

.calculator-screen p{
    color: white;
    text-align: right;
    font-size: 28px;
    width: 100%;
}
.result{
    color: white;
    text-align: right;
    font-size: 28px;
    width: 100%;
    background-color: rgb(17, 17, 17);
    border: none;
    padding: 20px 10px;
}

.calculator-screen{
    font-size: 14px;
}
.operator{
    color: white;
    width: 100%;
    text-align: right;
    background-color: rgb(17, 17, 17);
    border: none;
    padding: 10px 10px;
}
.clear{
    clear: left;
}
.row{
    width: 100%;
}
.btn,.btn-op, .ac, .percent{
    color: white;
    background-color: rgb(80, 80, 80);
    opacity: 1;
    font-size: 20px;
    float: left;
    padding: 20px;
    width: 25%;
    border: 2px solid rgb(44, 44, 44);
}
.btn:hover,.btn-op:hover, .ac:hover, .percent:hover{
    opacity: 0.8;
}
.btn:active,.btn-op:active,.ac:active,.percent:active{
    opacity: 0.6;
}
.ac,.zero{
    width: 50%;
}
.divide{
    background-color: rgb(0, 12, 182);
}
.times{
    background-color: rgb(0, 155, 182);
}
.minus{
    background-color: rgb(177, 0, 0);
}
.plus{
    background-color: rgb(0, 185, 15);
}
.equal{
    background-color: rgb(192, 148, 2);
}